Assignment:
1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

3. Determine the minimum; maximum; average; and standard deviation of all entries.

4. Sort the DataFrame: by rows, by columns, on row 2, on column 2.

In [1]:
import pandas as pd
import numpy as np
MAX_ROWS,MAX_COLS =  10,50

1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [7]:
# Create array fill with randint(1,501)-1 to 500
numRows,numColumns = MAX_ROWS,MAX_COLS
matrix = np.array([[np.random.randint(1,501) for i in range(numColumns)] for j in range(numRows)])
matrix

array([[104,  21,  61,  57, 273, 343, 324, 405,  19, 181, 402, 445,  17,
        276,  97, 486, 171, 411, 371,  39, 224, 291, 489, 375, 423, 462,
        471, 158,  54, 293,  68,  93, 402, 290, 206, 294, 362, 379, 333,
        196, 177,  24,  49, 108, 117, 484, 450, 220, 283, 408],
       [375, 240, 317, 444, 344, 351, 456, 320, 481, 113,  62, 212, 332,
          5,  11, 271, 464, 272, 305, 372,   8, 450, 123,  84, 355, 212,
        268, 315, 390, 182, 320,  54, 474, 129, 254, 235, 225, 334, 333,
        277, 183, 241, 366,  88, 446, 463, 453,  86,  73, 389],
       [198, 296, 419, 160,  80, 232, 468, 462, 435, 440, 386, 432, 275,
        354, 332,  19, 194, 134, 325, 446, 488,  96, 167, 328, 407, 117,
        283,   6, 435, 240, 190, 164,  37, 312,  58, 432, 458, 373,  53,
        289, 106, 322, 309,  60, 145, 162,  68, 326, 258, 478],
       [239, 295, 293, 345, 255, 115, 106, 487, 252, 280, 326,  96, 114,
         15, 492,   7, 182, 132, 332, 447,  52, 274,  51, 178, 496, 443,
        296, 389, 341, 265, 254, 390, 150, 294, 104, 472, 198, 318, 132,
        178,  98, 403,  10, 272, 419, 231, 496, 239,  35, 381],
       [167, 136, 350, 220, 483, 390, 470, 252,  78,  57, 395, 452, 249,
        203, 364, 273, 219, 139, 372, 306, 310, 251, 329, 384, 304, 164,
        126, 293, 135, 360, 499, 115, 227, 303, 467,  16, 494, 332, 226,
        126, 392, 373, 137,   3, 443, 384, 404, 202, 193,  87],
       [478, 102, 414, 419, 141, 395, 464, 264, 317,  96, 317, 470, 444,
        340, 161, 339, 428, 128, 274,  73, 110,  52,  94, 334, 342,  80,
        444, 108, 182,  19, 450,  84, 426, 141, 126, 476,  31, 196, 135,
        200, 380,  52, 185,  74,  92, 235, 277, 322, 237, 431],
       [497, 467, 322, 267,  53, 465,  31,  82, 100, 123, 100, 437, 478,
        172, 244, 199,   1, 209,  20, 212, 247, 133, 410, 240, 245, 370,
        480, 341,  73,  69, 122, 184, 338,  20, 296, 158, 343,  32, 493,
        181, 446, 162, 415, 283,  33, 325, 135,   5,   5,  28],
       [400, 242, 157,  93, 484, 413, 199, 322, 378, 178, 310, 242, 232,
        351, 333, 203, 106, 168,  96, 101, 433,  10, 122, 210, 160, 473,
        232, 244, 220, 109, 160, 338, 323, 103, 188, 267, 483,  95, 465,
         43, 157, 375, 318, 156, 193,  76, 225,  65, 401, 116],
       [261, 276, 311,  87, 246, 360, 144, 407, 353, 153, 251, 243,  33,
        243, 378,  79, 471, 207, 295,  36, 144, 458, 121, 234, 242,  67,
         96, 403, 224, 148, 398, 205, 202, 112,  90,  55, 140, 361,   7,
        477, 227, 114, 160, 374, 129,   9, 449, 317,  91,  88],
       [359, 196, 477, 295, 421,  66, 361, 262, 487,  37, 382, 328, 477,
         54, 199, 361, 153, 272, 145, 215, 138, 460, 487, 159,  90, 195,
        351, 115,  44, 461,  98, 391, 427, 263, 298, 198, 379, 123, 295,
        398, 125, 410, 367, 390,  79, 457, 438,  22, 296, 443]])

In [8]:
#Examine shpae
matrix.shape

(10, 50)

In [9]:
# Load matrix to dataframe
dataframe = pd.DataFrame(matrix)
dataframe

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,104,21,61,57,273,343,324,405,19,181,...,177,24,49,108,117,484,450,220,283,408
1,375,240,317,444,344,351,456,320,481,113,...,183,241,366,88,446,463,453,86,73,389
2,198,296,419,160,80,232,468,462,435,440,...,106,322,309,60,145,162,68,326,258,478
3,239,295,293,345,255,115,106,487,252,280,...,98,403,10,272,419,231,496,239,35,381
4,167,136,350,220,483,390,470,252,78,57,...,392,373,137,3,443,384,404,202,193,87
5,478,102,414,419,141,395,464,264,317,96,...,380,52,185,74,92,235,277,322,237,431
6,497,467,322,267,53,465,31,82,100,123,...,446,162,415,283,33,325,135,5,5,28
7,400,242,157,93,484,413,199,322,378,178,...,157,375,318,156,193,76,225,65,401,116
8,261,276,311,87,246,360,144,407,353,153,...,227,114,160,374,129,9,449,317,91,88
9,359,196,477,295,421,66,361,262,487,37,...,125,410,367,390,79,457,438,22,296,443

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [105]:
# Sum of Rows
dataframe.sum(axis=1)

0    13021
1    11392
2    11953
3    11723
4    10189
5    13431
6    14157
7    13747
8    11493
9    13142
dtype: int64

In [106]:
# Sum of columns
dataframe.sum(axis=0)

0     2298
1     1903
2     1959
3     2348
4     3462
5     2558
6     1808
7     2533
8     2849
9     2768
10    2266
11    2620
12    2427
13    1771
14    2823
15    2233
16    3114
17    2147
18    2873
19    2617
20    2157
21    2523
22    3264
23    2209
24    1894
25    3046
26    2246
27    2141
28    1818
29    1812
30    2722
31    2412
32    3078
33    2397
34    2525
35    2374
36    1774
37    3006
38    2701
39    2999
40    2652
41    3266
42    2564
43    2469
44    2185
45    2571
46    2105
47    2543
48    2350
49    3068
dtype: int64

In [107]:
# Sum of all entries - Method1
dataframe.sum().sum()

124248

In [109]:
# Sum of all entries - Method2
dataframe.sum(axis=1).sum()

124248

In [110]:
# Sum of all entries - Method3
dataframe.sum(axis=0).sum()

124248

3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [111]:
# Maximum of all entries
dataframe.max().max()

500

In [112]:
# Minimum of all entries
dataframe.min().min()

3

In [113]:
# Average of all entries
dataframe.mean().mean()

248.49599999999998

In [114]:
# standard deviation of all entries
dataframe.std().std()

25.781882187423818

4. Sort the DataFrame: by rows, by columns, on row 2, on column 2.

In [115]:
# Sort by rows on row 2
dataframe.sort_values(by=1,axis=1)

,15,36,46,14,1,21,37,32,3,5,...,31,7,40,16,20,13,35,9,23,34
0,419,208,280,429,218,477,476,148,161,106,...,418,113,299,273,148,33,181,117,353,284
1,8,15,19,22,32,39,45,45,47,65,...,399,402,405,409,420,436,453,457,461,488
2,318,368,408,397,10,102,414,480,339,347,...,36,261,223,127,357,162,321,242,33,3
3,68,227,131,249,33,214,393,421,125,144,...,269,10,475,446,55,140,352,468,198,137
4,209,167,3,46,486,243,100,281,156,168,...,126,175,155,269,123,35,404,110,107,84
5,419,254,103,356,284,412,400,450,234,331,...,204,476,305,340,14,58,3,190,116,203
6,227,96,327,194,295,145,369,252,444,500,...,43,429,234,346,353,56,309,364,262,166
7,30,53,155,225,18,159,89,364,191,290,...,392,347,89,458,423,397,119,490,315,492
8,228,144,252,499,33,259,320,220,480,439,...,202,140,425,401,136,15,192,118,162,185
9,307,242,427,406,494,473,400,417,171,168,...,323,180,42,45,128,439,40,212,202,483

In [116]:
# Sort by columns on col 2
dataframe.sort_values(by=1,axis=0)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
2,248,10,204,339,234,347,69,261,441,242,...,223,203,384,286,117,294,408,25,318,446
7,431,18,114,191,110,290,348,347,458,490,...,89,379,455,445,283,41,155,448,137,430
1,285,32,319,47,192,65,184,402,175,457,...,405,384,141,271,186,378,19,337,182,173
3,133,33,97,125,490,144,37,10,169,468,...,475,496,352,475,25,131,131,171,483,489
8,238,33,70,480,443,439,176,140,376,118,...,425,41,57,167,428,411,252,3,153,34
0,122,218,340,161,374,106,217,113,455,117,...,299,473,214,163,420,72,280,222,221,352
5,146,284,252,234,386,331,220,476,110,190,...,305,393,89,259,195,318,103,52,336,341
6,260,295,134,444,425,500,332,429,485,364,...,234,462,248,193,292,491,327,454,232,446
4,161,486,255,156,447,168,187,175,22,110,...,155,48,412,145,121,169,3,459,112,329
9,274,494,174,171,361,168,38,180,158,212,...,42,387,212,65,118,266,427,372,176,28